/* hero */
.hero1 {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: gray;
  margin: auto;
  background-color: none;
  padding-top: 20px;
}

.hero_img {
  background-color: #474747;
  padding: 1vw;
  border-radius: 10px;
  width: 20%;
  height: 99% !important;
  overflow: hidden;
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.hero_stats {
  padding-left: 5vw;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  float: right;
  row-gap: 5px;
  width: 75%;
  max-width: 100%;
}

.hero_stats > div {
  height: 2vw;
  max-width: 100%;
  font-family: Arial;
  font-weight: 600;
}

.stat_img {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  padding-right: 10px;
}

.skill_stats {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  width: 75%;
  height: 100% !important;
}

.skill_desc {
  height: 100%;
  font-family: Arial;
  font-weight: 600;
  text-align: justify;
  font-size: 1vw;
  max-width: 80%;
}

#hero {
  margin: 10px;
  overflow: hidden;
}

.skill1 {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: gray;
  width: 100%;
  margin: auto;
  background-color: none;
  padding-top: 20px;
}

.skill1 > div {
  height: inherit;
}

.stat {
  font-size: 1.3vw;
  margin: 2px;
}

.level {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 15vw;
  overflow: hidden;
  height: 5vw;
  vertical-align: middle;
}

.level > h3 {
  width: 10vw;
  margin: 0 auto;
  text-align: center;
  font-size: 1.5vw;
}

.level > a {
  background-color: #474747;
  width: 10vw;
  border-radius: 10px;
  color: antiquewhite !important;
  font-size: 2.5vmax;
  text-align: center;
}

.hero_skill_img {
  margin-right: 5vw;
  padding: 1vw;
  width: 15vw;
  height: 9vw;
  vertical-align: middle;
  text-align: right;
}

/* hero */
/* heros */
.container-heros {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  row-gap: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding-bottom: 4em;
}

.container-heros > form {
  width: 250px;
  max-height: 500px !important;
  font-family: Arial;
  font-weight: 600;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  color: whitesmoke;
  text-align: center;
}

.hero {
  overflow: hidden;
  background-color: #27292d;
  border-radius: 10px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  text-align: center;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
}

.hero:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: -webkit-transform .1s;
  transition: -webkit-transform .1s;
  transition: transform .1s;
  transition: transform .1s, -webkit-transform .1s;
}

.hero-card-img {
  margin: 0 auto;
  padding: .5vw;
  height: auto;
  width: 100%;
}

.hero-name {
  font-size: 1.6vw;
  text-align: center;
  height: auto;
  margin: 0vw auto;
  margin-top: .5vw;
  border-radius: 5px;
  background-color: #27292d;
}

.hero-name-skil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.hero-name-skil > div {
  width: 49%;
}

.hero-skill-img {
  height: 60px;
}

/* heroes */
/* talents */
.container-talents {
  margin: 0 auto;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 15pt !important;
  padding-bottom: 4em;
}

.container-talents > div {
  width: 250px;
  padding: 5px;
  font-family: Arial;
  color: whitesmoke !important;
  overflow: hidden;
}

.talent-img {
  padding-bottom: 1vw;
}

.lvl-container {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;
  height: 9%;
  overflow: hidden;
}

.lvl-container > a {
  width: 50% !important;
  background-color: gray;
  text-align: center;
  font-size: 20pt;
}

.mrs1 {
  padding-bottom: 4vw;
}

.talent {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  text-align: center;
  cursor: pointer;
  overflow: auto;
  background-color: #27292d;
  padding-bottom: 2.5vw !important;
  border-radius: 10px;
}

.talent:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: -webkit-transform .1s;
  transition: -webkit-transform .1s;
  transition: transform .1s;
  transition: transform .1s, -webkit-transform .1s;
}

.talent-lvl {
  color: whitesmoke !important;
  font-size: 3vw;
  height: 3.2vw;
}

/* talents */
/* insert_hero */
.insert-field {
  margin-left: 20%;
  margin-right: 20%;
  overflow: hidden;
}

.submit {
  border: none;
  border-radius: 6px;
  height: 3.4em;
  width: 7.8em;
  color: white;
  font-weight: 700;
  padding: 0;
  background-color: #ed3b85;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}

.submit:hover {
  cursor: pointer;
  background-color: #a32758;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}

/* insert_hero */
/* navbar */
.menu {
  height: 100%;
}

.menu .active > a {
  background: #474747 !important;
  color: #1c1f26 !important;
}

#meni {
  background-color: #27292d !important;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#meni > li {
  font-size: 20pt;
}

#navbar {
  position: fixed;
  width: 100%;
  bottom: 0px;
  margin: 0;
  overflow: hidden;
  background-color: #1c1f26;
  height: 4em;
}

.nav-item {
  height: 100% !important;
  color: gray;
  margin: 0;
  -webkit-transition: background-color .8s;
  transition: background-color .8s;
  font-size: 15pt;
}

.item {
  position: center;
  padding-top: 1em !important;
  color: #474747;
  width: 100%;
  height: 100% !important;
  vertical-align: middle;
  -webkit-transition: color .4s;
  transition: color .4s;
  font-weight: 700;
  border-radius: 0px 0px 10px 10px;
  -webkit-transition: background-color .8s;
  transition: background-color .8s;
  overflow: hidden;
}

.item:focus {
  background-color: #27292D !important;
}

.item:hover {
  color: #27292D !important;
  background-color: #474747 !important;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}

.item:active {
  text-decoration: none;
  color: #474747;
  background-color: #27292D !important;
  height: none !important;
}

/* navbar */
@-webkit-keyframes con {
  0% {
    height: 9vh;
    bottom: 0px;
  }
  100% {
    height: 100vh;
    bottom: 0px;
  }
}
@keyframes con {
  0% {
    height: 9vh;
    bottom: 0px;
  }
  100% {
    height: 100vh;
    bottom: 0px;
  }
}

html {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

#content {
  padding-top: 70px;
}

a:focus {
  text-decoration: none !important;
  color: #444;
  background-color: gray !important;
}

a:hover {
  color: #777 !important;
  background-color: inherit !important;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

::-webkit-scrollbar {
  width: .5px;
}

::-webkit-scrollbar-track {
  background: #474747;
}

::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
  border-radius: 5px;
}

.animate {
  /*animation: con 2s forwards cubic-bezier(.59,.65,.57,1.02);*/
}

.animate-back {
  /*animation: con 2s forwards cubic-bezier(.59,.65,.57,1.02) reverse;*/
}

a {
  text-decoration: none;
  color: #474747;
}

body {
  background-color: #0f1116;
  color: #777;
}

.active {
  background-color: #27292D !important;
}

li {
  text-align: center;
  height: 8vh;
  width: 20%;
}

.container {
  width: 80%;
  margin: 0 auto;
  height: auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media only screen and (max-width: 900px) {
  #content {
    padding-top: 0px;
  }
  #hero {
    padding-top: 10vw;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
    padding-bottom: 10vw;
  }
  #hero > div {
    width: 100%;
    margin: 10px auto;
  }
  .skill1 {
    max-height: 400px;
    overflow: hidden;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .skill1 > div {
    width: 45%;
    text-align: center;
  }
  .skill_desc {
    margin: 0 auto;
    text-align: center;
    font-size: 9pt;
    width: 100% !important;
  }
  .hero_skill_img {
    height: auto;
  }
  .stat {
    font-size: 16pt;
  }
  .level > a {
    width: 50px;
    height: 50px;
  }
  .level {
    margin: 0 auto;
    font-size: 8pt;
    width: auto;
    height: auto;
  }
  .mrs {
    margin: 0 auto;
    width: auto;
    font-size: 13pt !important;
  }
  .hero1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    overflow: auto;
  }
  .hero_img {
    height: auto;
    width: auto;
  }
  .hero_img > h3 {
    font-size: 20pt;
  }
  .hero1 > div {
    margin: 10px auto;
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .hero_stats {
    padding: 0;
    width: 100%;
    width: 100%;
    height: 100%;
  }
  .hero_stats > div {
    margin-bottom: 10px auto;
    height: 20px;
  }
  .container {
    padding-top: 10vw;
    width: 90%;
    height: 100%;
  }
  .container-heros {
    padding-top: 10vw;
    width: 90%;
    -webkit-column-gap: 0;
            column-gap: 0;
  }
  .container-heros > form {
    width: 30%;
    color: whitesmoke;
  }
  .hero-name-skil {
    height: 40px;
    overflow: hidden;
    font-size: 30pt;
    width: 100%;
  }
  .hero-name {
    font-size: 10pt;
  }
  .hero-card-img {
    height: auto;
    width: auto;
  }
  .hero-skill-img {
    height: 30px;
  }
  .hero {
    max-width: 100%;
    height: auto;
  }
  .container-talents {
    padding-top: 10vw;
    width: 90%;
    -webkit-column-gap: 0;
            column-gap: 0;
  }
  .container-talents > div {
    padding-bottom: 10px;
    width: 30%;
    color: whitesmoke;
  }
  .lvl-container > a {
    font-size: 14pt;
  }
  .lvl-container {
    height: 30px;
    bottom: 0;
  }
  .mrs1 > p {
    font-size: 8pt !important;
  }
  .mrs1 > h4 {
    font-size: 10pt !important;
  }
  .talent-lvl > h3 {
    font-size: 10pt !important;
  }
  hr {
    display: block;
    height: 2px;
    margin: 0 auto;
  }
  .item {
    text-align: center;
    padding: 0;
  }
  .talent-img {
    padding-bottom: 1vw;
    height: 10vw;
  }
  .hehe {
    height: 100%;
    font-size: inherit;
  }
  .hehe:hover {
    color: #27292D;
  }
  .kurac {
    font-size: 10pt;
    overflow: auto;
  }
  .talent-lvl {
    height: 5.5vw;
  }
  #meni {
    background-color: #27292d;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 60px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #meni > li {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    text-align: center;
    font-size: 12pt;
  }
  ::-webkit-scrollbar {
    width: .5px;
    -webkit-transition: width 1s;
    transition: width 1s;
  }
  .menu {
    height: 50px !important;
  }
}

@media only screen and (max-width: 350px) {
  #meni > li {
    font-size: 6pt !important;
  }
  .menu {
    height: 30px !important;
    bottom: 0;
  }
}
/*# sourceMappingURL=main.css.map */