

@keyframes navbar1{
	0% {color: gray;}
	100% {color: white;}
}


@media only screen and (max-width: 900px) {
	.container{
		width: 90% !important;

	}
	.container-heros {
		width: 90% !important;
	}
	.container-heros > form{
		width: 20vw !important;
		height: 35vw !important;
	}
	.hero-name-skil{
		vertical-align: middle !important;
		padding-right: 3vw !important;
		text-align: center !important;
		width: 100% !important;
	}
	.hero-name{
		font-size: 2vw !important;

	}
	.hero{
		height: 35vw !important;

	}
	.container-talents{
		width: 90% !important;
	}
	hr{
		display: block !important;
		height: 2px !important;
		margin: 0 auto !important;
	}

	h4{
		font-size: medium !important;

	}
	.item{
		font-size: 4vw !important;
	text-align: center !important;
	}
	.talent-img{
		padding-bottom: 1vw;
		height: 10vw !important;
		}
	.hehe{
		transform: scale(1.6) !important;
		height: 100% !important;
	}
	.container-talents {
		width: 90% !important;
		font-size: 15pt !important;
	}
	.kurac{
		font-size: 10pt !important;

	}
	.talent-lvl{
		height: 5.5vw !important;

	}
	.container-talents > span{
		width: 25vw !important;
		max-height: 40vw !important; 
		color: whitesmoke !important;
		margin: 2px auto !important;
		margin-bottom: 10px !important;
	
}
}

#content{
	overflow: auto;

}

@keyframes con {
	0% {height: 9vh; bottom: 0px}
	100% {height: 100vh; bottom: 0px}
}


.animate {
	/*animation: con 2s forwards cubic-bezier(.59,.65,.57,1.02);*/
	}

.animate-back {
	/*animation: con 2s forwards cubic-bezier(.59,.65,.57,1.02) reverse;*/
}

a {
	text-decoration: none;
	color:#474747 !important; 
}
html{
	height: auto !important;


}

.menu {
	height: 100%;
	max-height: 200px;
}

body {
	background-color: #0f1116;
	color: wheat;
	height: auto !important;
	
		}

input[type=text] {
	width: 100%;
	border: none;
	height: 3.4em;
	border-radius: 6px;
	margin-bottom: 5px;
}

.insert-field {
	margin-left: 20%;
	margin-right: 20%;
	overflow: hidden;
}

.submit {
	border: none;
	border-radius: 6px;
	height: 3.4em;
	width: 7.8em;
	color: white;
	font-weight: 700;
	padding: 0;
	background-color: #ed3b85;
	transition: background-color .5s;
}

	.submit:hover {
		cursor: pointer;
		background-color: #a32758;
		transition: background-color .5s;
	}

select {
	width: 100%;
	border: none;
	height: 3.4em;
	border-radius: 6px;
	margin-bottom: 5px;
	margin-left: 0px !important;
}


#nav1lmao {
	position: fixed;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	bottom: 0;
	height: 35px;
	width: 100%;
	background-color: #040404;
}
	.hero {
		
		overflow: hidden;
		height: 25vw;
		background-color: #27292d;
		border-radius: 10px;
		transform: scale(1);
		transition: transform .3s;
		text-align: center;
		cursor: pointer;
		padding-bottom: .6vw;
	}
	.hero:hover{
		transform: scale(1.02);
		transition: transform .1s;
	}

	.hero-card-img{
		margin: 0 auto;
		padding: .5vw;
		height: auto;
		width: 100%;
	}
	.hero-skill-img{
		margin-left: 0;
		height: 3vw;

	}

	.hero-name{
		font-size: 1.6vw;
		text-align: center;
		float: right;
		width: 10vw;
		height: auto;
		margin: 0vw auto;
		margin-top: .5vw;
		border-radius: 5px;
		background-color: #27292d;
	}

	#move {
		position: fixed;
		bottom: 45px;
	}

#navbar {
	position: fixed;
	width: 100%;
	bottom: 0px;
	margin: 0;
	overflow: auto;
	background-color: #1c1f26;
	height: 4em;
}

.nav-item {
	height: 100%;
	max-height: 65px;
	color: gray;
	margin: 0;
	transition: background-color .8s;
	font-size: 15pt;
}

	.nav-item:hover {
		background-color: #27292d;
		transition: background-color .5s;

	}

.item {
	position: center;
	padding-top: 1em !important;
	color: #474747;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	font-weight: 700;
}

	.item:hover {
		animation-name: navbar1;
		animation-duration: .5s;
		animation-fill-mode: forwards;
	}
	.item:active {
		text-decoration: none;
		color: #474747;
	}


	li {
		text-align: center;
		height: 8vh;
		width: 20%;	
	}



	
	.container {
		width: 80%;
		margin: 0 auto;
		height: 100%;
		justify-content: space-evenly;
	}

	.container-heros {
		height: auto;
		width: 80%;
		margin: 0 auto;
		justify-content: space-evenly;
		flex-wrap: wrap;
		flex-direction: row;
		display: flex;
		padding-bottom: 4em;
	}
	.container-heros > form{
		width: 15vw;
		font-family: Arial;
		display: inline-block;
		font-weight: 600;
		justify-content: space-evenly;
		color: whitesmoke;
		text-align: center;
		margin: 10px auto;
	}

	

	button{
		text-decoration: none !important;
		outline: none;
	}
	button:active{
		outline: none !important;
	}


	.hero1 {
		overflow: hidden;
		display: flex;
		color: gray;
		margin: auto;
		background-color: none;
		padding-top: 20px;
	}

.hero_img {
	background-color: #474747;
	padding: 1vw;
	border-radius: 10px;
	width: 20%;
	height: 99% !important;
	overflow: hidden;
	margin-left: 10px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}
.hero_skill_img {
	margin-right: 5vw;
	padding: 1vw;
	width: 15vw;
	height: 9vw;
	vertical-align: middle;
	text-align: right;
}

.hero_stats {
	padding-left: 5vw;
	overflow: auto;
	flex-wrap: wrap;
	flex-direction: column;
	display: flex;
	float: right;
	width: 75%;
	height: 25vw !important;
	max-width: 100%;
}

	.hero_stats > div {
		height: 2vw;
		max-width: 49%;
		font-family: Arial;
		font-weight: 600;
	}




.stat_img {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	padding-right: 10px;
}


.skill_stats {
	flex-wrap: wrap;
	flex-direction: column;
	display: flex;
	float: right;
	width: 75%;
	height: 100% !important;
}

.skill_desc {
	height: 100%;
	font-family: Arial;
	font-weight: 600;
	text-align: justify;
	font-size: 1vw;
	max-width: 80%;
}

#hero {
	margin: 10px;
	overflow: hidden;

}

.skill1 {
	overflow: auto;
	display: flex;
	color: gray;
	width: 100%;
	max-height: 20vw;
	margin: auto;
	background-color: none;
	padding-top: 20px;
}


.stat {
	font-size: 1.3vw;
	margin: 2px;


}


.container-talents {
	height: auto;
	width: 80%;
	margin: 0 auto;
	justify-content: space-evenly;
	flex-wrap: wrap;
	flex-direction: row;
	display: flex;
	font-size: 15pt !important;
	padding-bottom: 4em;
}

.container-talents > span{
	width: 15vw;
	max-height: 35vw;
	font-family: Arial;
	justify-content: space-evenly;
	color: whitesmoke !important;
	overflow: auto;
	margin: 10px auto;
	padding: 1vw;
}

.talent-img{

padding-bottom: 1vw;
}
	



.talent {
	transform: scale(1);
	transition: transform .3s;
	text-align: center;
	cursor: pointer;
	width: 200px;

	background-color: #27292d;
		padding-bottom: .6vw;
		border-radius: 10px;

}

.talent:hover{
	transform: scale(1.02);
	transition: transform .1s;
}

.talent-lvl{
	color: whitesmoke !important;
	font-size: 3vw;
	height: 3.2vw;
}

.level{
	display: flex;
	width: 15vw !important;
	overflow: hidden;
	height: 5vw;
	vertical-align: middle;
}
	.level > h3{
		width: 10vw;
		margin: 0 auto;
		text-align: center;
		font-size: 1.5vw;
	}
.lvl-container{
	position: absolute;
	display: flexbox;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
}
.lvl-container > a{
	width: 50% !important;
	background-color: gray;
	text-align: center;
}
.plus{
	background-color: green;
	border-right:2px solid #27292D;
}
.minus{
	background-color: red;
}

.mrs1{
	overflow: auto;

}
