

@keyframes navbar1{
	0% {color: gray;}
	100% {color: white;}
}

a {
	text-decoration: none;


}

body {
	background-color: #0f1116;
	color: wheat;
		}

input[type=text] {
	width: 100%;
	border: none;
	height: 3.4em;
	border-radius: 6px;
	margin-bottom: 5px;
}

.insert-field {
	margin-left: 20%;
	margin-right: 20%;
	overflow: hidden;
}

.submit {
	border: none;
	border-radius: 6px;
	height: 3.4em;
	width: 7.8em;
	color: white;
	font-weight: 700;
	padding: 0;
	background-color: #ed3b85;
	transition: background-color .5s;
}

	.submit:hover {
		cursor: pointer;
		background-color: #a32758;
		transition: background-color .5s;
	}

select {
	width: 100%;
	border: none;
	height: 3.4em;
	border-radius: 6px;
	margin-bottom: 5px;
	margin-left: 0px !important;
}


#nav1lmao {
	position: fixed;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	bottom: 0;
	height: 35px;
	width: 100%;
	background-color: #040404;
}
	.hero {
		width: 15vw;
		background-color: #FFF;
		text-align: center;
		height: 300px;
		padding: 0;
		margin: auto;
	}

	#move {
		position: fixed;
		bottom: 45px;
	}

#navbar {
	position: fixed;
	width: 100%;
	bottom: 0px;
	margin: 0;
	overflow: hidden;
	background-color: #1c1f26;
	height: 4em;
}
.nav-item {
	height: 100%;
	color: gray;
	margin: 0;
	transition: background-color .5s;
}

	.nav-item:hover {
		background-color: #27292d;
		transition: background-color .5s;

	}

.item {
	overflow: hidden;
	position: center;
	padding-top: 1.5em !important;
	color: #474747;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	font-weight: 700;
}

	.item:hover {
		animation-name: navbar1;
		animation-duration: .5s;
		animation-fill-mode: forwards;
	}



	li {
		text-align: center;
		height: 8vh;
		width: 20%;	
		position: relative;
	}



	.row {
		display: flex;
		flex-wrap: wrap;
		background-color: #090909;
	}

	.container {
		width: 80%;
		margin: auto;
	}

	.hero1 {
		overflow: hidden;
		display: flex;
		color: gray;
		width: 100%;
		height: 20vw;
		margin: auto;
		background-color: none;
		padding-top: 20px;
	}

.hero_img {
	float: left;
	width: 20%;
	height: 99% !important;
	overflow: hidden;
	margin-left: 10px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}

.hero_stats {
	overflow: auto;
	flex-wrap: wrap;
	flex-direction: column;
	display: flex;
	position: relative;
	float: right;
	width: 75%;
	height: 100% !important;
	max-width: 100%;
}

	.hero_stats > div {
		height: 2vw;
		max-width: 50%;
		font-family: Arial;
		font-weight: 600;
	}




.stat_img {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	padding-right: 10px;
}


.skill_stats {
	flex-wrap: wrap;
	flex-direction: column;
	display: flex;
	position: relative;
	float: right;
	width: 75%;
	height: 100% !important;
}

.skill_desc {
	height: 100%;
	font-family: Arial;
	font-weight: 600;
	text-align: justify;
	font-size: 1vw;
}

#hero {
	margin: 10px;
	height 200vw;
	overflow: hidden;

}

.skill1 {
	overflow: auto;
	display: flex;
	color: gray;
	width: 100%;
	max-height: 20vw;
	margin: auto;
	background-color: none;
	padding-top: 20px;
}


.stat {
	font-size: 1.3vw;
	margin: 2px;


}
