
body {
	background-color: #0f1116;
	color: wheat;
		}

input[type=text] {
	width: 100%;
	border: none;
	height: 3.4em;
	border-radius: 6px;
	margin-bottom: 5px;
}

.insert-field {
	margin-left: 20%;
	margin-right: 20%;
	overflow: hidden;
}

.submit {
	border: none;
	border-radius: 6px;
	height: 3.4em;
	width: 7.8em;
	color: white;
	font-weight: 700;
	padding: 0;
	background-color: #ed3b85;
	transition: background-color .5s;
}

	.submit:hover {
		cursor: pointer;
		background-color: #a32758;
		transition: background-color .5s;
	}

select {
	width: 100%;
	border: none;
	height: 3.4em;
	border-radius: 6px;
	margin-bottom: 5px;
	margin-left: 0px !important;
}


#nav1lmao {
	position: fixed;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	bottom: 0;
	height: 35px;
	width: 100%;
	background-color: #040404;
}
	.hero {
		width: 15vw;
		background-color: #FFF;
		text-align: center;
		height: 300px;
		padding: 0;
		margin: auto;
	}

	#move {
		position: fixed;
		bottom: 45px;
	}

	#navbar {
		position: fixed;
		width: 100%;
		bottom: 0px;
		display: flex;
		justify-content: space-evenly;
		overflow: hidden;
		background-color: #0f1116;
		color: #474747;
	}
	.nav-item {
		
	}

	.item {
		color: #575757 !important;
		line-height: 200px;
	}

	li {
		text-align: center;
		height: 8vh;
		width: 20%;	
		position: relative;
	}

	.nav-item.active{
		background-color: #a0a0a0;
	}

	.row {
		display: flex;
		background-color: #090909;
	}

	.container {
		width: 80%;
		margin: auto;
	}